.bg-myRed{
    background-color: white;
    
  }
  /* .content{
    margin-top: 80px;
    padding: 12px;
    height: 3000px;
  } */
  /* .App{
    align-items: center;
  } */
  /* .drop{
   
    display: grid;
  } */
.navitem{
  padding-right: 30px;
  padding-left: 30px;
  
}

  .nav1{
      font-size:x-large;
  }
  .grid-container{
    
    display: grid;
    /* width: 30vh;
    height: 30vh; */
    grid-template-columns:repeat(3,33%);
    grid-template-rows: repeat(3,33%);
    background-color: "#ecf2fb";
    position: static;
  
  }
  .grid-item{
    /* background-color: lightgrey; */
    /* border: 4px solid red; */
    padding-left: 30px;
  
  }
  .item1{
    grid-column: 1/2;
    grid-row:1/2;
   
   
  
  }
  .item2{
    
   grid-row:2/3;
   grid-column: 1/2;
    /* row start col start row end col end */
  
    
  }
  .item3{
    grid-row: 3/4;
    grid-column: 1/2;
    
  }
  .item4{
    grid-column: 2/3;
    grid-row: 1/2;
  
    
  }
  .item5{
    grid-column: 2/3;
    grid-row: 2/3;
    
  }
  .item6{
    grid-column: 2/3;
    grid-row: 3/4;
  
  }
  .item7{
    grid-column: 3/4;
    grid-row: 1/2;
  
  }
  .item8{
    grid-column: 3/4;
    grid-row: 2/3;
  
  }
  .item9{
    grid-column: 3/4;
    grid-row: 3/4;
  
  }



  /* .imagebutton{ */
    /* display: flex;
    align-items:center;
    align-self: center;
    width: 20px;
    height: 20px;
  */

/* .container{
    display: flex;
    align-items: center;
    /* background-color: azure; */
  
   
 */

.iconbutton{
    text-decoration: none;
    font-size: larger;
}

.explorebutton{

  font-family: ceraPRO;

}